@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    /* margin: 0; */
    font-family: "Raleway", sans-serif;
    height: 100vh;
    display: flex;
    gap: 30px;
    background-image: linear-gradient(#ddd, #d58337);
    font-size: 24px;
}

button {
    border-color: #d58337;
    border-radius: 24px;
    outline: none;
}

#myProjectsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#projectTitles {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    gap: 4px;
  }

#addProject,
#addTask {
    border-radius: 50%;
}

#dialogTitle {
    border-radius: 24px;
}

#currentProjectTitle {
    display: flex;
    align-items: center;
    gap: 6px;
}