@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* #d58337 */

:root {
    --primary-color: #d58337;
    --secondary-color: #aeaeae;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    height:100vh;
    display: flex;
    gap: 30px;
    background-image: linear-gradient(var(--secondary-color), var(--primary-color));
    font-size: 24px;
}

button {
    border-color: var(--primary-color);
    border-radius: 24px;
    outline: none;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

#myProjectsHeader {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 4px;
    gap: 6px;
}

#projectTitles {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#projectTitles button {
    font-size: 20px;
    height: 30px;
    width: auto;
}

#addProject,
#addTask {
    border-radius: 50%;
}

#dialogTitle,
#dialogContent {
    border-radius: 24px;
    background-color: var(--secondary-color);
}

#projectTitleForm,
#taskContentForm {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#newTitle,
#newTaskTitle,
#newTaskDescription {
    outline: none;
}

#currentProjectTitle {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    /* gap: 6px; */
}

.taskSection {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.taskCard {
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    border-left: 8px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    transition: .2s;
}

.taskCard:hover {
    border-left-width: 12px;
}

.taskTitle {
    font-weight: bold;
    margin-bottom: 8px;
}

.taskCard .icons {
    display: flex;
    margin-top: auto;
    align-content: end;
    justify-content: right;
    gap: 8px;
}